@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Poppins:ital,wght@0,600;0,700;1,400&display=swap");
@import url("./styles/component/header.scss");
@import url("./styles/component/homepage.scss");
@import url("./styles/component/footer.scss");

//UploadItem 

@import url('./styles/component/uploadItem.scss');

//CreateSingleColl

@import url('./styles/component/createSingleColl.scss');

//Общие стили для страницы

body {
  background: #FCFCFD;

  counter-reset: my-sec-counter;

  &.lock{
    overflow: hidden;
  }
}

#root{
  overflow-x: hidden;
}

.align-cent{
  align-items: center;
}

.flex {
  display: flex;
}
.justif-ss-betw{
  justify-content: space-between;
}

.justif-ss-end{
  justify-content: end;
}

.justif-ss-cent{
  justify-content: center;
}

.tex-cen {
  text-align: center;
}

.centr {
  margin: 0 auto;
}
.d-2 {
  display: none;

  @media (max-width: 1024px) {
    display: block;
  }
}

.d-2-none {
  display: block;

  @media (max-width: 1024px) {
    display: none;
  }
}

.d-3 {
  display: none;

  @media (max-width: 678px) {
    display: block;
  }
}

.d-3-none {

  @media (max-width: 678px) {
    display: none;
  }
}

.container {
  max-width: 1184px !important;
}

.row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.f-pop {
  font-family: "Poppins";
}
.f-sans {
  font-family: "DM Sans";
}

// Подключение стилей роутов
