header{
    height: 80px;

    border-bottom: 1px solid #E6E8EC;

    @media (max-width:678px) {
        height: 104px;
    }

    .header__logo{

        gap: 10px;
        margin-right: 32px;

        .logo__text{
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;

            color: #23262F;
        }
    }

    .header__wrapper{
        align-items: center;

        height: 100%;

        .header__start{
            flex:1 1 auto;
            align-items: center;
            
            margin-right: 35px;
        }
    }

    .header__nav{

        li{
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;

            color: #777E91;

            cursor: pointer;

            transition: all 0.7s;
        }

        li:hover{
            color: #23262F;
        }
    }

    .header__notify{
        position: relative;

        cursor: pointer;

        margin-right: 25px;

        &::after{
            position: absolute;
            top: -12px;
            right: -7px;

            content: "";
            display: block;
            width: 12px;
            height: 12px;

            background: #45B36B;
            border-radius: 50%;
        }
    }

    .header__search{
        position: relative;

        margin-left: auto;

        height: 40px;
        max-width: 256px;
        width: 100%;


        border: 2px solid #E6E8EC;
        border-radius: 8px;

        input{
            height: 100%;
            width: 100%;

            border-radius: 8px;
            padding-left: 16px;

            font-weight: 400;
            font-size: 12px;
            line-height: 20px;

            color: #777E91;
        }

        .search__ic{
            position: absolute;
            top: 25%;
            right: 13px;

            cursor: pointer;
        }
    }

    .header__buttons{

        button{
            transition: all 0.7s;
        }

        button:hover{
            background: #3772FF;
            color: #FCFCFD;
        }

        .but-upl{
            width: 80px;
            height: 40px;

            border: 2px solid #E6E8EC;
            border-radius: 90px;

            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #23262F;
        }

        .but-cont{
            margin-left: 12px;

            width: 140px;
            height: 40px;

            border: 2px solid #E6E8EC;
            border-radius: 90px;

            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #23262F;
        }
    }

    .header__nav{
        position: relative;
        &::before{
            position: absolute;

            content: "";
            display: block;
            height: 40px;
            width: 2px;

            background: #E6E8EC;
            border-radius: 2px;

            left: 0;
            top: -12px;
        }
        padding-left: 32px;

        height: 100%;
        ul{
            gap: 32px;
        }

    }

    .header__burger{
        width: 22px;

        span{
            display: block;
            background: #777E91;

            height: 2px;
            width: 100%;
            border-radius: 10%;

            
        }
        span:nth-child(2){
                margin-top: 6px;
        }
    }
}