.profile__wrapper {
  .profile__cover {
    height: 326px;

    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media (max-width: 678px) {
      height: 230px;
    }

    .container {
      gap: 15px;
      justify-content: end;

      @media (max-width: 678px) {
        justify-content: center;
      }

      button {
        margin-top: 266px;

        gap: 12px;
        border: 2px solid #777e91;
        border-radius: 90px;

        padding: 12px 16px;

        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;

        color: #fcfcfd;

        color: #fcfcfd;
        @media (max-width: 678px) {
          margin-top: 134px;
          font-size: 12px;
        }
      }
    }
  }

  .profile__main {
    display: flex;
    gap: 64px;

    margin-bottom: 45px;
    @media (max-width: 678px) {
      flex-direction: column;
    }
    .main__user {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 256px;
      padding: 48px 32px;

      background: #fcfcfd;

      border: 1px solid #e6e8ec;

      box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
      border-radius: 16px;

      margin-top: -110px;

      @media (max-width: 678px) {
        margin-top: -30px;
        width: 100%;
      }

      .user__avatar {
        img {
          max-width: 100%;
          max-height: 100%;
          border-radius: 50%;
          background-color: rgb(69, 178, 107);
        }
      }

      .user__name {
        margin-top: 24px;

        font-family: "Poppins";
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;

        color: #23262f;
      }

      .user__hash {
        position: relative;

        gap: 8px;
        margin-top: 4px;

        font-family: "DM Sans";
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;

        color: #23262f;

        .refHr {
          display: block;
          position: absolute;

          top: 20px;

          right: 35%;
        }

        .icons {
          cursor: pointer;
        }
      }

      .user__href {
        gap: 8px;

        margin-top: 20px;
        margin-bottom: 48px;

        font-family: "DM Sans";
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;

        color: #23262f;
      }

      .user__descript {
        text-align: center;
        margin-top: 20px;

        font-family: "Poppins";
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;

        color: #777e91;
      }

      .user__function {
        display: flex;
        gap: 8px;
      }

      .user__links {
        margin-top: 48px;
        gap: 34px;
      }

      .user__footer {
        margin-top: 48px;
        padding-top: 48px;

        width: 100%;
        border-top: 2px solid #e6e8ec;

        font-family: "Poppins";
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;

        color: #777e91;
      }

      .function__follow {
        padding: 12px 16px;
        background: #3772ff;
        border-radius: 90px;

        font-family: "DM Sans";
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;

        color: #fcfcfd;
      }

      .function__upload {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;

        border-radius: 50%;
        border: 2px solid #e6e8ec;
        input {
          display: none;
        }
      }

      .function__settings {
        justify-content: center;
        align-items: center;
        gap: 2px;
        width: 40px;
        height: 40px;

        border-radius: 50%;
        border: 2px solid #e6e8ec;

        .circle {
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #777e91;
        }
      }
    }

    .us-collection__nav {
        margin-top: 73px;
        margin-bottom: 32px;

        @media (max-width:678px) {
            margin-top: 48px;
        }
      ul {
          display: flex;
          align-items: center;

          gap: 36px;

          flex-wrap: nowrap;
          overflow: auto;
          width: 100%;

          -ms-overflow-style: none;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            width: 0;
            height: 0;
          }
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
          }

          li{
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;

            color: #777E91;

            cursor: pointer;

            &.active{
                padding: 6px 12px;

                background: #353945;
                border-radius: 100px;

                color: #FCFCFD;
            }
          }
        }
    }

    .us-collection__main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 32px;
      row-gap: 52px;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 850px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
